* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth; 
    overflow-x: hidden;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace; 
    max-width: 1440px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    background-color: rgb(224, 224, 224);
    height: 100%;
}
.super-box {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.box {
    background-color: rgb(255, 255, 255);
}
header {
    background-color: rgb(255, 255, 255);
}
.nav-list {
    display: flex;
    justify-content: space-evenly;
}
.nav-item {
    list-style: none;
}