* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
    overflow-x: hidden;
    height: 100%;
}
body {
    font-family: 'Roboto Mono', monospace; 
    background: linear-gradient(to top left, CornflowerBlue, Moccasin);
    max-width: 1440px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    height: 100%;
}
li {
    list-style: none;
}
span {
    color: DarkSlateBlue;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.header {
    display: none;
}
.button {
    padding: 7px;
    font-size: 18px;
    color: black;
    background-color: transparent;
    border: none;
    transition: 0.3s
}
.button:hover {
    height: 100%;
    color: white;
    background-color: Teal;
}
.button.active {
    height: 100%;
    color: white;
    background-color: DarkSlateBlue;
}
.button:active {
    height: 100%;
    color: white;
    background-color: DarkSlateBlue;
}
.link-button {
    flex-grow: 1;
    line-height: 25px;
    padding: 7px;
    font-size: 18px;
    text-align: center;
    color: black;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    height: 100%;
}
.link-button:hover {
    height: 100%;
    color: white;
    background-color: Teal;
}
.link-button:active {
    height: 100%;
    color: white;
    background-color: DarkSlateBlue;
}
.main-span {
    color: DarkCyan;
}
.link {
    text-decoration: none;
    color: black;
    height: 100%;
}
.link:hover {
    text-decoration: none;
    color: DarkCyan;
}
.link:active {
    text-decoration: none;
    color: DarkSlateBlue;
}
.nav-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: black;
    height: 45px;
    width: 100%;
    border-bottom: 2px solid Teal;
    border-top: 2px solid Teal;
}
.nav-link:hover {
    text-decoration: none;
    color: white;
}
.footer-link {
    text-decoration: none;
    color: black;
    height: 100%;
}
.footer-link:hover {
    text-decoration: none;
    color: white;
}
.super-box {
    display: grid;
    gap: 2px;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr 1fr 1fr auto auto;
    grid-template-areas:
    ". box-1"
    "box-2 box-3"
    "box-4 box-5"
    "box-6 box-7"
    "box-8 box-9"
    "box-10 .";
}
[class^="box-"] {
    background-color: Azure;
    border-bottom: 2px solid Teal;
    border-top: 2px solid Teal;
    padding: 18px;
    transition: 0.5s
}
[class^="box-"]:nth-child(even) {
    border-right: 2px solid Teal;
}
[class^="box-"]:nth-child(odd) {
    border-left: 2px solid Teal;
}
.box-1 {
    grid-area: box-1;
    padding: 0;
    border-top: transparent;
    border-top-right-radius: 90px;
}
.box-2 {
    grid-area: box-2;
    padding: 0;
    border-top: transparent;
}
.box-3 {
    grid-area: box-3;
}
.box-4 {
    grid-area: box-4;
}
.box-5 {
    grid-area: box-5;
}
.box-6 {
    grid-area: box-6;
}
.box-7 {
    grid-area: box-7;
}
.box-8 {
    grid-area: box-8;
}
.box-9 {
    grid-area: box-9;
    border-bottom: transparent;
    border-bottom-right-radius: 90px;
}
.box-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: box-10;
    padding: 0;
    border-bottom: transparent;
    border-bottom-left-radius: 90px;
}
.copyrights-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
}
.nav-list-desktop {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.nav-list-mobile {
    display: none;
}
.nav-item-desktop {
    display: flex;
    align-items: center;
}
.nav-item-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 1;
}
.photo {
    width: 341px;
    height: 341px;
    border-top-left-radius: 90px;
}
.selfie {
    border-top-left-radius: 90px;
    border-bottom: 1px solid orangered;
    border-right: 1px solid orangered;
}
.arrow {
    margin-top: 2px;
    margin-right: 8px;
}
.summary {
    display: flex;
    flex-direction: column;
}
.summary-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 17px;
}
.me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name {
    margin: 0;
}
.speciality {
    align-self: flex-end;
}
.skills {
    display: flex;
    flex-direction: column;
}
.skills-lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.skills-lists-1-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills-lists-3-4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
[class^="skills-list-"] {
    margin-right: 12px;
}
.skills-list-4 {
    margin: 0;
}
.skills-item {
    display: flex;
    font-size: 20px;
}
.contacts {
    display: flex;
    flex-direction: column;
}
.contacts-list {
    align-self: flex-end;
    font-size: 17px;
}
.contacts-item {
    display: flex;
}
.socials {
    margin-bottom: -3px;
    margin-right: 8px;
}
.projects {
    display: flex;
    flex-direction: column;
}
.projects-lists {
    display: flex;
    justify-content: space-between;
}
.projects-item {
    display: flex;
}
.english {
    display: flex;
    flex-direction: column;
}
.english-text {
    align-self: flex-end;
    margin-right: 1px;
}
.age {
    display: flex;
    flex-direction: column;
}
.age-text {
    align-self: center;
    margin-left: -20px;
}
.education {
    display: flex;
    flex-direction: column;
}
.education-item {
    font-size: 17px;
}
.git {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    width: 43.22px;
}
[class^="box-"].blur {
    filter: blur(4px);
}
@media screen and (max-width: 1039px) {
    .super-box {
        position: absolute;
        z-index: 1;
        margin-top: 55.5px;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr auto auto auto;
        grid-template-areas:
        "box-0 box-0"
        "box-2 box-4"
        "box-3 box-3"
        "box-5 box-5"
        "box-6 box-6"
        "box-7 box-7"
        "box-8 box-8"
        "box-9 box-9"
        "box-10 box-10";
    }
    [class^="box-"] {
        border: 2px solid Teal;
    }
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        z-index: 2;
        top: 0px;
        height: 55.5px;
        width: 100%;
        background-color: Azure;
        border-bottom: 2px solid Teal;
        border-left: 2px solid Teal;
        border-right: 2px solid Teal;
        margin-bottom: 2px;
    }
    .box-0 {
        grid-area: box-0;
    }
    :target:before {
        content: "";
        display: block;
        height: 55.5px;
    }
    #education:target:before {
        content: "";
        display: block;
        height: 0;
    }
    .burger-menu {
        margin-right: 10px;
        width: 50px;
        height: 34.5px;
        display: flex;
        border: none;
        background-color: Azure;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .burger-menu .bar {
        width: 100%;
        height: 0px;
        border: 1px solid Teal;
        transition: .5s;
    }
    .burger-menu.active .bar-1 {
        opacity: 0;
    }
    .burger-menu.active .bar-4 {
        opacity: 0;
    }
    .burger-menu.active .bar-2 {
        transform: translateY(5.5px) rotate(35deg);
        border: 1px solid DarkSlateBlue;
    }
    .burger-menu.active .bar-3 {
        transform: translateY(-5.5px) rotate(-35deg);
        border: 1px solid DarkSlateBlue;
    }
    .nav {
        border-radius: 0;
        position: absolute;
        top: -344px;
        height: 344px;
        width: 100%;
        transition: 0.7s;
    }
    .nav-item-mobile {
        background-color: Azure;
        opacity: 0.9;
    }
    .nav.active {
        position: absolute;
        top: 57.5px;
    }
    .box-1 {
        display: none;
    }
    .nav-list-desktop {
        display: none;
    }
    .nav-list-mobile {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .box-9 {
        border-radius: 0;
    }
    .photo {
        width: 344px;
        height: 344px;
        border-top-left-radius: 0;
    }
    .selfie {
        border-top-left-radius: 0;
        border-top: 1px solid orangered;
        border-left: 1px solid orangered;
    }
    .box-10 {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: transparent;
    }
    .projects-lists {
        flex-direction: column;
    }
    .projects-list-1 {
        order: 1;
        align-self: flex-end;
    }
    .projects-list-2 {
        order: 0;
        align-self: flex-end;
    }
    .education-list {
        align-self: flex-end;
    }
    .age-text {
        border-bottom: 2px solid orangered;
    }
    .english-text {
        border-bottom: 2px solid orangered;
    }
}
@media screen and (max-width: 690px) {
    .skills-lists {
        flex-direction: column;
    }
    .skills-lists-1-2 {
        flex-direction: column;
    }
    .skills-lists-3-4 {
        flex-direction: column;
    }
    .projects-lists {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 529px) {
    .super-box {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr auto auto auto auto;
        grid-template-areas:
        "box-0"
        "box-2"
        "box-4"
        "box-3"
        "box-5"
        "box-6"
        "box-7"
        "box-8"
        "box-9"
        "box-10";
    }
    .box-4 {
        border-top: 2px solid Teal;
    }
}